.elgg-module.elgg-module-embed {
  font-family: "Open Sans", 'sans-serif';
  background: #f2f2f2;
  border: 1px solid #cccccc;
  margin: 10px 0;
}
.elgg-module.elgg-module-embed > .elgg-head {
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}
.elgg-module.elgg-module-embed > .elgg-head h3 {
  margin: 0;
}
.elgg-module.elgg-module-embed > .elgg-body {
  background: white;
  padding: 0;
}
.elgg-module.elgg-module-embed > .elgg-body .elgg-image-block {
  padding: 10px;
}
.elgg-module.elgg-module-embed > .elgg-foot {
  border-top: 1px solid #cccccc;
  padding: 10px;
}
.elgg-module.elgg-module-embed > .elgg-foot a {
  word-break: break-all;
}

.extractor-link {
  line-height: 110%;
  background: #f4f4f4;
  vertical-align: middle;
}
.extractor-link .favicon {
  background-size: 16px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 5px;
}
.extractor-link .link {
  margin: 0 5px;
}
