@import "compass/css3"; // compass css3 helpers

// make preview images have a decent ratio
$embed-image-width: 200px;
$embed-image-height: $embed-image-width * 3 / 4;
$lighter-border-color: #f4f4f4 !default;

.scraper-card-link {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	max-width: 300px;
}

.scraper-card-description {
	margin: 0;
	p {
		margin: 4px 0;
		font-size: 90%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.scraper-card-icon-bg {
	background-position: 50%;
	background-size: cover;
	min-width: $embed-image-width;
	min-height: $embed-image-height;
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
}

.scraper-card-block {
	position: relative;
	min-height: $embed-image-height;
	overflow: hidden;
	padding: 0;
	border: 1px solid $lighter-border-color;
	@include display-flex;
	@include flex-wrap(nowrap);
	@include align-items(center);

	.elgg-image {
		position: relative;
		margin: 0;
		padding: 0;
		@include flex(1 1 $embed-image-width);
	}

	.elgg-body {
		@include flex(1 1 auto);
		padding: 15px;
	}

	@media (max-width: 820px) {
		@include flex-wrap(wrap);
		.elgg-image {
			position: relative;
			width: 100%;
			height: $embed-image-width;
			min-height: 150px;
		}
	}
}

.scraper-card-flex {
	position: relative;
	padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 0;
	overflow: hidden;

	&.widescreen, &.scraper-card-youtube { padding-bottom: 56.34%; }
	&.scraper-card-vimeo { padding-top: 0; }

	iframe,
	object,
	embed,
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.scraper-card-photo {
	max-width: 500px;
	height: auto;
}

.scraper-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	font-size: 50px;
	color: red;
	text-shadow: 0 0 2px #fff;
	cursor: pointer;
}

.scraper-link {
	line-height: 110%;
	vertical-align: middle;
	.favicon {
		background-size: 16px;
		width: 16px;
		height: 16px;
		background-repeat: no-repeat;
		display: inline-block;
		margin: 0 5px;
	}
	.link {
		margin: 0 5px;
	}
}
