@import "compass/css3"; // compass css3 helpers
@import "../../../../../sass/global/variables";
@import "variables";

.elgg-module.elgg-module-embed {
	border: 1px solid $border-color;
	padding: 3px;
	h3 {
		margin: 0;
	}
	.embedder-link {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0;
		max-width: 300px;
	}
	.embedder-description {
		margin: 0;
		p {
			margin: 4px 0;
			font-size: 90%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.embedder-icon-bg {
		background-position: 50%;
		background-size: cover;
		min-width: $image-width;
		min-height: $image-height;
		display: block;
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
	}
	.embedder-block {
		position: relative;
		min-height: $image-height;
		overflow: hidden;
		&.embedder-has-icon {
			padding-left: $image-width + 6px;
		}
		.elgg-image {
			position: absolute;
			top: 0;
			left: 0;
			width: $image-width;
			height: 100%;
			float: none;
		}
		@media #{$small-only} {
			&.embedder-has-icon {
				padding-left: 0;
			}
			.elgg-image {
				position: relative;
				width: 100%;
				height: $image-width;
			}
		}
	}
	.elgg-widget-content & {
		.embedder-block {
			&.embedder-has-icon {
				padding-left: 0;
			}
			.elgg-image {
				position: relative;
				width: 100%;
				height: $image-width;
			}
		}
	}
}

.extractor-link {
	line-height: 110%;
	background: #f4f4f4;
	vertical-align: middle;
	.favicon {
		background-size: 16px;
		width: 16px;
		height: 16px;
		background-repeat: no-repeat;
		display: inline-block;
		margin: 0 5px;
	}
	.link {
		margin: 0 5px;
	}
}